#main {
    background-color: antiquewhite;
    padding: 1rem;
    min-height: 37rem;
}

form {
    margin-top: 1rem;
}

#listContainer {
    margin-top: 1rem;
}

.listEntry {
    padding: 1rem;
    background-color: white;
    border: 1px solid black;
}

.doneButton {
    position: relative;
    float: right;
    margin-right: 0.5rem;
}

.checkMark {
    position: relative;
    float: left;
    margin-right: 0.5rem;
    color: green;
}

.removeButton {
    position: relative;
    float: right;
}